@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import "./_navbar.scss";
@import "./header";
@import "./_problem.scss";
@import "./_features.scss";
@import "./_contact-us.scss";
@import "./_footer.scss";
@import "./_our-team.scss";
html {
    scroll-behavior: smooth;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

:root {
    --primary-color: #310A69;
    --secondary-color: #A75DB4;
    --text-color: #263238;
    --background-color: #F4F5F7;
    --secondary-background: #fff;

}

.app{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    .app-body{
        width: 100%;
    }
}
  

